*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    padding:  3rem;
    
}

h1{
    margin-bottom: 1rem;
    border-bottom: 3px solid black ;
}

p {
    margin: 1rem 0;
}

img{
    height: 300px;
    margin: 2rem 0 1rem;
}

.img_box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.submit-btn {
    background-color: transparent;
    border: 3px solid #111;
    border-radius: 5px;
    padding: 1rem;
    margin: 2rem 0 ;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: #333;
    color: #fff;
    transition: all .4s linear;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
        list-style: none;
}

#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
}